<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid mt-5 p-0">
        <img class="img-fluid w-100 d-block" src="../../assets/about.png" alt="asd">
    </div>
    
    <div class="container-fluid" >
        <div class="row">

            <!-- Header and Mission -->
            <div class="col-md-12 mt-5 ">
                <div class="row">
                    <!-- HEADER -->
                    <div class="col-lg-6">
                        <p class="text-uppercase mt-2 pt-1 header">
                            We are an <br> <strong> Active LEarning <br> School </strong>
                        </p>
                    </div>

                    <!-- Mission -->
                    <div class="col-lg-6  mt-4 pt-1 pasg" >
                        <div class="mb-3 subheader">
                            <strong>School Mission</strong>
                        </div>
                        <p class="text-centre text-justify content">
                            CreativeJoy treat every student as different in apsect of Learning.
                            Focusing on Students Conceptual Clarity and Interests.<br>
                            We aim to provide  
                            <strong>Healthy,Secure,Excited Environment for Learning and Right Path Towards Passion</strong>.                            
                        </p>
                    </div>
                </div>
            </div>

            <!-- Values -->
            <div class="col-md-12 mt-2 ">
               <div class="mt-5 pt-1 pasg">
                    <div class="mb-2 subheader">
                       <strong>Our Values</strong>
                    </div>
                    <ul class="content">
                        <li>School should be fun like Learning </li>
                        <li>Respects should be modeled and taught</li>
                        <li>Students should feel safe and welcome at School</li>
                        <li>Environment should be clean,neat,warm and ready to enjoy <strong> <u>Playing,Learning,Excitement</u></strong></li>
                    </ul>
               </div>         
            </div>
        </div>
    </div>
</body>
</html>