/* ------------------HOME------------------ */
ul{
    list-style:none;
}
a{
    color: #bfbf2d;
}
span a{
    color:  #bfbf2d;
}
a span{
    font-family: cursive;
    font-size: 1.051rem;
}
#contact{
    background-color:black;
}
.socialmob{
    display: none;
}
.fa, .fab{
    padding: 5px 10px 5px 10px ;
    font-size: 1.1rem;
}
.toCenter{
    display: grid;align-content: center;justify-content: center;
}
#email{
    margin-left: 3%;
}
footer {
    margin-top: 3%;
    display: flex;
    justify-content: start;
    background-color: black;
    color: #bfbf2d;font-family: serif;font-size: 1.1rem;
}
/* NAVBAR */
.navbar{
    padding: 0.2rem .8rem;
}
a.navbar-brand{
    width: 35%;
    color: maroon;
    font-family: sans-serif;
}
.sticky-top{
    box-shadow: 0px 2px 9px 0px #a2a2a2;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
}
nav.navbar-light{
    background-color: white;
    margin-top: -16px;
}
.navbar, .navbar-brand{
    font-family: inherit;
    font-size: 1.08em;
    text-transform: uppercase;
}
div a.nav-item:hover{
    color: #00998f !important;
    /* border-radius: 10px; */
    border-bottom: 3px solid #00998f;
}
.socialmob{
    display: none;
}
span a i.fa-envelope{
    padding-left: 35px;
}

/* SLIDESHOW */
div img.d-block{
    height: 38vw;
}

/* WelcomeNote */
#welcomenote{
    padding: 0;
    margin-top: 1em;
    font-size: 1.4em;
    line-height: 1.9;
    background-color: black;
    font-family: 'Quattrocento',serif;
    user-select: none;
}
.text-warning{
    font-size: 1.3em;  
    font-family: 'Lato',sans-serif;
}
/* FEATURE */
a.text-warning{
    font-size: medium;
}
div.dtdl:hover{
    background-color: #1e7e34;
    color: white;
    transition: ease-in-out .6s;
}
#feature{
    color: white;
}
.features{
    font-family: 'Lato',sans-serif;;
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 2.5em;
        padding-left: 2.5em;
    }
}
@media screen and (max-width:768px){
    #email{
        margin-left: -10%;
    }
}
@media screen and (max-width:520px){
    #email{
        margin-left: 0%;
        float: left;
    }
    #social{
        display: none;
    }
    .socialmob{
        display: block;
    }
    .fa{
        padding: 5px 30px 5px 0px ;
    }
    span a i.fa-envelope{
        padding-left: 0px;
    }
    #welcomenote{
        font-size: 1.3em;
    }
    
}